<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title th:text="#{email.password-reset.subject}">Reset your password</title>
  </head>
  <body>
    <p th:text="#{email.password-reset.greeting(${name})}">Hello,</p>
    <p th:text="#{email.password-reset.body}">We received a request to reset your password.</p>
    <p>
      <a th:href="${link}" th:text="#{email.password-reset.cta}">Reset password</a>
    </p>
    <p th:text="#{email.password-reset.expiry}">This link expires in 1 hour.</p>
    <p th:text="#{email.password-reset.ignore}">If you did not request this, ignore this email.</p>
  </body>
</html>
