<p-toolbar>
  <ng-template #start>
    <div class="flex items-center gap-4">
      <a routerLink="/" class="text-xl font-semibold">{{ 'app.title' | translate }}</a>
      <a
        routerLink="/sessoes"
        class="text-sm text-surface-600 hover:text-primary"
        routerLinkActive="text-primary font-medium"
        >{{ 'nav.screenings' | translate }}</a
      >
    </div>
  </ng-template>
  <ng-template #end>
    <div class="flex gap-2">
      <p-button
        label="PT"
        size="small"
        [outlined]="language.current() !== 'pt-BR'"
        (onClick)="language.use('pt-BR')"
      />
      <p-button
        label="EN"
        size="small"
        [outlined]="language.current() !== 'en'"
        (onClick)="language.use('en')"
      />
    </div>
  </ng-template>
</p-toolbar>
